@model Hotel_App.Models.Room_reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h3>Are you sure you want to delete that reservation?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clients.client_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.client_first_name)
        </dd>

        <dt>
            Room number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms.room_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Return", "Index") | 
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        }
</div>
